body{
    background-image: linear-gradient(to bottom ,rgb(170, 170, 237),rgb(167, 240, 240),rgb(214, 173, 232));
    height: 100vh;
    display: flex;
    justify-content: center;
}
.table  {
    font-family: system-ui;
    align-content: center;
}

table{
    border-collapse: collapse;
}
.table tr td{
    padding-right: 20px;
    padding-top: 10px;
}
tr:nth-child(odd){
    background-color: rgb(247, 196, 255);
}
th{
    background-color: plum;
}
tr:nth-child(even){
background-color: #fff;
}
